body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c2c2c; /* Ciemnoszary */
    touch-action: none; /* Zapobiega scrollowaniu na telefonach podczas gry */
}

canvas {
    display: block;
    cursor: crosshair;
}
